{% extends '_base.html' %}
{% load static %}
{% block dash_title %}
Clan Contributions
{% endblock dash_title %}
{% block content %}
<div class="grid grid-cols-12">
    <div class="col-span-12">
        <div class="card h-full p-0 rounded-xl border-0 overflow-hidden">
            <div
                class="card-header border-b border-neutral-200 dark:border-neutral-600 bg-white dark:bg-neutral-700 py-4 px-6 flex items-center flex-wrap gap-3 justify-between">

                {% if request.user.is_staff %}
                <a href="{% url 'contributions:add-contribution' %}" class="btn btn-primary text-sm btn-sm px-3 py-3 rounded-lg flex items-center gap-2">
                    <iconify-icon icon="ic:baseline-plus" class="icon text-xl line-height-1"></iconify-icon>
                    Add Contribution
                </a>
                {% endif %}
            </div>
            <div class="card-body p-6">
                
                {% if contributions.count > 0 %}  
                <div class="table-responsive scroll-sm">
                    <table class="table bordered-table sm-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">amount</th>
                                <th scope="col">recurrence</th>
                                
                                <th scope="col">Created By</th>
                                <th scope="col">Created Date</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contr in contributions %}

                            <tr>
                                
                                <td><a href="{{contr.get_absolute_url}}" class="hover:text-red-500 hover:font-bold">{{contr.name}}</a></td>
                                <td>R{{contr.amount}}</td>
                                <td>{{contr.get_recurrence_display}}</td>

                                <td>
                                    <div class="flex items-center">
                                        <img src="{% if contr.created_by.profile_image %}{{contr.created_by.profile_image.url}}{% else %}{% static 'dashboard/images/user-grid/user-grid-img13.png' %}{% endif %}"
                                            alt="{{contr.created_by.get_full_name}}"
                                            class="w-10 h-10 rounded-full shrink-0 me-2 overflow-hidden">
                                        <div class="grow">
                                            <span
                                                class="text-base mb-0 font-normal text-secondary-light">{{contr.created_by.get_full_name|truncatechars:20}}</span>
                                        </div>
                                    </div>
                                </td>
                                

                                <td>{{contr.created|date:"d M Y"}}</td>
                                <td class="text-center">
                                    <div class="flex items-center gap-3 justify-center">
                                        <a href="{{contr.get_absolute_url}}"
                                            class="bg-info-100 dark:bg-info-600/25 hover:bg-info-200 text-info-600 dark:text-info-400 font-medium w-10 h-10 flex justify-center items-center rounded-full">
                                            <iconify-icon icon="majesticons:eye-line"
                                                class="icon text-xl"></iconify-icon>
                                        </a>

                                        {% if request.user.is_staff %}

                                        <a href="{{contr.get_update_url}}"
                                            class="bg-success-100 dark:bg-success-600/25 text-success-600 dark:text-success-400 bg-hover-success-200 font-medium w-10 h-10 flex justify-center items-center rounded-full">
                                            <iconify-icon icon="lucide:edit" class="menu-icon"></iconify-icon>
                                        </a>
                                        <span data-modal-target="delete-popup-modal-{{contr.slug}}" data-modal-toggle="delete-popup-modal-{{contr.slug}}" type="button"
                                            class="remove-item-btn cursor-pointer bg-danger-100 dark:bg-danger-600/25 hover:bg-danger-200 text-danger-600 dark:text-danger-500 font-medium w-10 h-10 flex justify-center items-center rounded-full">
                                            <iconify-icon icon="fluent:delete-24-regular"
                                                class="menu-icon"></iconify-icon>
                                        </span>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="text-center text-xl font-bold">
                    <p>There are currently no Contribution groups available</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% for contribution in contributions %}
<!-- Delete Modal contribution -->
<div id="delete-popup-modal-{{contribution.slug}}" tabindex="-1"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="rounded-2xl bg-white dark:bg-neutral-700 max-w-[400px] w-full">
        <form method="post" action="{{ contribution.get_delete_url }}" class="p-6 text-center">
            {% csrf_token %}
            <span class="mb-4 text-[40px] line-height-1 text-danger-600">
                <iconify-icon icon="fluent:delete-24-regular" class="menu-icon"></iconify-icon>
            </span>
            <h6 class="text-lg font-semibold text-neutral-600 dark:text-neutral-200 mb-0">Are your sure you want to
                delete this Contribution ({{contribution.name}})?</h6>
            <div class="flex items-center justify-center gap-3 mt-6">
                <button type="reset" data-modal-hide="delete-popup-modal-{{contribution.slug}}"
                    class="w-1/2 border border-danger-600 hover:bg-danger-100 text-danger-600 text-base px-10 py-[11px] rounded-lg">
                    Cancel
                </button>
                <button type="submit"
                    class="w-1/2 btn btn-primary border border-primary-600 text-base px-6 py-3 rounded-lg">
                    Delete
                </button>
            </div>
        </form>
    </div>
</div>
{% endfor %}

{% endblock content %}

{% block scripts %}

{% endblock scripts %}