{% extends '_base.html' %}
{% load static %}
{% block dash_title %}
Clan Contributions
{% endblock dash_title %}
{% block content %}
<div class="grid grid-cols-12">
    <div class="col-span-12">
        <div class="card h-full rounded-xl border-0 overflow-hidden p-2">
            <div
                class="card-header border-b border-neutral-200 dark:border-neutral-600 bg-white dark:bg-neutral-700 py-4 px-6 flex items-center flex-wrap gap-3 justify-between">

                {% if request.user.is_staff %}
                <a href="{% url 'contributions:add-contribution' %}" class="btn btn-primary text-sm btn-sm px-3 py-3 rounded-lg flex items-center gap-2">
                    <iconify-icon icon="ic:baseline-plus" class="icon text-xl line-height-1"></iconify-icon>
                    Add Contribution
                </a>
                {% endif %}
            </div>
            <div class="grid gap-6 m-4 sm:grid-cols-2 ">
                
                {% for contribution in contributions %}
                
                {% include "includes/contribution_card.html" %}
                
                {% empty %}
                <div class="col-span-full rounded-2xl border-2 border-dashed border-gray-300 dark:border-gray-700 p-16 text-center">
                
                    <svg class="mx-auto h-14 w-14 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M12 8c3.866 0 7 3.134 7 7H5c0-3.866 3.134-7 7-7zm0-5v5" />
                
                    </svg>
                
                    <h3 class="mt-4 text-xl font-semibold">
                        No Contributions Found
                    </h3>
                
                    <p class="mt-2 text-gray-500">
                        Start by creating your first contribution.
                    </p>
                
                </div>
                
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% for contribution in contributions %}
<!-- Delete Modal contribution -->
<div id="delete-popup-modal-{{contribution.slug}}" tabindex="-1"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="rounded-2xl bg-white dark:bg-neutral-700 max-w-[400px] w-full">
        <form method="post" action="{{ contribution.get_delete_url }}" class="p-6 text-center">
            {% csrf_token %}
            <span class="mb-4 text-[40px] line-height-1 text-danger-600">
                <iconify-icon icon="fluent:delete-24-regular" class="menu-icon"></iconify-icon>
            </span>
            <h6 class="text-lg font-semibold text-neutral-600 dark:text-neutral-200 mb-0">Are your sure you want to
                delete this Contribution ({{contribution.name}})?</h6>
            <div class="flex items-center justify-center gap-3 mt-6">
                <button type="reset" data-modal-hide="delete-popup-modal-{{contribution.slug}}"
                    class="w-1/2 border border-danger-600 hover:bg-danger-100 text-danger-600 text-base px-10 py-[11px] rounded-lg">
                    Cancel
                </button>
                <button type="submit"
                    class="w-1/2 btn btn-primary border border-primary-600 text-base px-6 py-3 rounded-lg">
                    Delete
                </button>
            </div>
        </form>
    </div>
</div>
{% endfor %}

{% endblock content %}

{% block scripts %}

{% endblock scripts %}