{% extends '_base.html' %}
{% load static %}

{% block dash_title %}
Home
{% endblock dash_title %}


{% block css %}

{% endblock css %}
    
{% block content %}
<div class="max-w-full mx-auto p-6  bg-gradient-to-r from-[#f2fdff] to-[#d4f7ff] border border-white dark:border-neutral-600 dark:from-neutral-700 dark:to-neutral-800 rounded-xl shadow-md">
    <div class="flex w-fit items-center space-x-4 mb-4">
        <span class="mb-0 w-20 h-20 bg-warning-600 flex-shrink-0 text-white flex justify-center items-center ">
            <img class=" w-20 h-20"
                src="{% static 'images/kgotla.jpg' %}"
                alt="Bakgomong Kgotla Yamalla">
        </span>
        <div>
            <h3 class="text-xl font-bold text-gray-700">Bakgomong Kgotla Yamalla
            </h3>
            <p class="text-sm text-gray-600">Total Invoces: <span
                    class="font-semibold text-gray-800">{{payments.count}}</span>
            </p>
            <p class="text-sm text-gray-600">Total Members: <span
                    class="font-semibold text-gray-800">{{members.count}}</span>
            </p>
            
        </div>
    </div>

    <div class="grid grid-cols-2 gap-4 text-sm text-gray-700">
        <div class="border border-gray-200 p-4 from-[#f2fdff] to-[#d4f7ff] dark:border-neutral-600 dark:from-neutral-700 dark:to-neutral-800 rounded-lg">
            <p class="font-medium">Kgotla Account Balance</p>
            <p class="text-green-600 font-bold text-lg">R{{clan_total_paid}}</p>
        </div>
        <div class=" border border-gray-200 p-4 from-[#f2fdff] to-[#d4f7ff] dark:border-neutral-600 dark:from-neutral-700 dark:to-neutral-800 rounded-lg">
            <p class="font-medium">Kgotla Outstanding Balance</p>
            <p class="text-red-500 font-bold text-lg">R{{clan_total_unpaid}}</p>
        </div>
        <div class="border border-gray-200  p-4 from-[#f2fdff] to-[#d4f7ff] dark:border-neutral-600 dark:from-neutral-700 dark:to-neutral-800 rounded-lg">
            <p class="font-medium">You've Paid Kgotla:</p>
            <p class="text-yellow-600 font-bold text-lg">R{{request.user.total_paid}}</p>
        </div>
        <div class="border border-gray-200  p-4 from-[#f2fdff] to-[#d4f7ff] dark:border-neutral-600 dark:from-neutral-700 dark:to-neutral-800 rounded-lg">
            <p class="font-medium">You Owe Kgotla:</p>
            <p class="text-red-500 font-bold text-lg">R{{request.user.total_unpaid}}</p>
        </div>
    </div>
</div>

{% if latest_unpaid %}
    <div
        class="max-w-full  bg-gradient-to-r mx-auto mt-10 from-[#f2fdff] to-[#ffefdd] shadow-md dark:border-neutral-600 dark:from-neutral-700 dark:to-neutral-800 rounded-lg p-4 font-sans">
        <div class="flex justify-between items-center mb-4">
            <h2 class="font-bold text-lg mb-0">Upcoming Payment</h2>
    
        </div>
    
        <div class="border border-gray-200 dark:border-neutral-600 rounded-md p-4 mb-2">
            <div class="flex items-center justify-between flex-wrap mb-4">
                <div class="flex items-center space-x-4 justify-between mb-2">
                    <span
                        class="mb-0 w-[48px] h-[48px] bg-warning-600 flex-shrink-0 text-white flex justify-center items-center rounded-full h6">
                        <img src="{% static 'images/home-eleven/icons/home-eleven-icon2.svg' %}" alt="">
                    </span>
                    <div>
                        <h3 class="text-base font-medium text-gray-700">{{latest_unpaid}}</h3>
                        <p class="text-sm text-gray-500">Ref No. {{latest_unpaid.reference}}</p>
                        <p class="text-sm text-gray-600">Amount to be paid: <span
                                class="font-semibold text-gray-800">R{{latest_unpaid.amount_due}}</span>
                        </p>
                    </div>
    
                </div>
    
                <div class="mb-4">
    
                    <p class="text-sm text-gray-600">Due: <span
                            class="font-semibold text-gray-800">{{latest_unpaid.due_date}}</span></p>
                </div>
            </div>
    
    
            <a href="{% url 'contributions:checkout' latest_unpaid.id %}"
                class="w-full text-center bg-green-500 hover:bg-green-600 text-white font-semibold py-2 rounded-md transition duration-200">
                Pay Now
            </a>
        </div>
    </div>
{% endif %}
    

<!-- Table End -->
{% endblock content %}


{% block scripts %}


{% endblock scripts %}